/* Navigation Bar */
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav_logo img {
    height: 25px; /* Adjust height based on your design */
    width: auto; /* Maintain aspect ratio */
    margin-left: 20px;
}

.nav_links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.9rem;
}